{%extends 'base.html'%}

{% block content %}
<html>
  <head>
  </head>
  <body>
    <div>
      <h4 style="margin-left:20px;"><b>About Us</b></h4>
      <br />
      <div style="float:left"> <img style="margin-left:20px;
           margin-right:20px;
           width:200px;
      		 height:224px;
           padding: 1px;
           border: 1px solid #2F4F4F;
           border-radius: 15px;" src="https://i.imgur.com/vk1HAmK.jpg" alt="Alex Liapis"> </div> <br />
      <div class="abouttext">
        <p>Name: Alex Liapis</p>
        <p>Bio: A senior studying Chemical Engineering</p>
        <p>Responsibilities: Flask implementation, basics of html pages, about us page.</p>
        <p>Commits: 65</p>
        <p>Issues: 8</p>
        <p>Unit Tests: 0</p>
      </div>
    </div>
    <br /><br /><br /><br />
    <div>
      <div style="float:left"> <img style="margin-left:20px;
           margin-right:20px;
           width:200px;
      		 height:224px;
           padding: 1px;
           border: 1px solid #2F4F4F;
           border-radius: 15px;" src="https://i.imgur.com/hXt77dl.jpg" alt="Terrence Liu"> </div> <br />
      <div class="abouttext">
        <p>Name: Terrence Liu</p>
        <p>Bio: A senior studying Math</p>
        <p>Responsibilities: Organizing, writing most of the technical report, and some work on html pages.</p>
        <p>Commits: 16</p>
        <p>Issues: 11</p>
        <p>Unit Tests: 0</p>
      </div>
    </div>
    <br /><br /><br /><br />
    <div>
      <div style="float:left"> <img style="margin-left:20px;
           margin-right:20px;
           width:200px;
      		 height:224px;
           padding: 1px;
           border: 1px solid #2F4F4F;
           border-radius: 15px;" src="https://i.imgur.com/Q3LhpyG.png" alt="Aaron Yanowitz"> </div> <br />
      <div class="abouttext">
        <p>Name: Aaron Yanowitz </p>
        <p>Bio: A senior studying Biomedical Engineering</p>
        <p>Responsibilities: Implement the data structures, create the tables for main pages, help with flask python file.</p>
        <p>Commits: 26</p>
        <p>Issues: 4</p>
        <p>Unit Tests: 3</p>
      </div>
    </div>
    <br /><br /><br /><br />
    <div>
      <div style="float:left"> <img style="margin-left:20px;
           margin-right:20px;
           width:200px;
      		 height:224px;
           padding: 1px;
           border: 1px solid #2F4F4F;
           border-radius: 15px;" src="https://i.imgur.com/zErGdnx.jpg" alt="Francisco Martinez"> </div> <br />
      <div class="abouttext">
        <p>Name: Francisco Martinez</p>
        <p>Bio: A senior studying Sociology</p>
        <p>Responsibilities: Create Nav bar, major parts of html code, work with Bootstrap.</p>
        <p>Commits: 22</p>
        <p>Issues: 3</p>
        <p>Unit Tests: 0</p>
      </div>
    </div>
    <br /><br /><br /><br />
    <div>
      <div style="float:left"> <img style="margin-left:20px;
           margin-right:20px;
           width:200px;
      		 height:224px;
           padding: 1px;
           border: 1px solid #2F4F4F;
           border-radius: 15px;" src="https://i.imgur.com/RKXZB6B.png" alt="Wade Bribach"> </div> <br />
      <div class="abouttext">
        <p>Name: Wade Bribach</p>
        <p>Bio: A senior studying arts and entertainment</p>
        <p>Responsibilities: Help with player and team templates, edit splash page, add .gitignore.</p>
        <p>Commits: 23</p>
        <p>Issues: 3</p>
        <p>Unit Tests: 3</p>
      </div>
    </div>
    <br /><br /><br /><br />
    <div>
      <div class="abouttext">
        <br />
        <p>Total Commits: 152</p>
        <p>Total Issues: 30</p>
        <p>Total Unit Tests: 3</p>
        <a href="https://rapidapi.com/api-sports/api/api-football-beta/details">Data Source</a><br />
        <p> Data was scraped by first selecting all the data for the 5 chosen leagues, then gathering the teams</p>
        <p> belonging to those leagues, and finally match the team_ids to the relative player_ids and getting each player</p>
        <p> profile one by one. Unicode syntax was preserved </p>
        <br/>
        <a href="https://gitlab.com/cs331-4/cs331e/issues">GitLab Issue Tracker</a><br/>
        <a href="https://gitlab.com/cs331-4/cs331e">GitLab Repo</a><br />
        <a href="https://gitlab.com/cs331-4/cs331e/-/wikis/home#idb-home-page">GitLab Wiki</a><br />
        <a href="https://speakerdeck.com/optimuhs/sportshub?slide=1">Draft SpeakerDeck</a><br/>
      </div>
    </div>
    <br />
    <br />
    <div class = button>Unit Tests</div>
    <form method="POST">
      <input type="submit" value="Run Unit Tests">
    </form>
    {% for i in output %}
      <p>{{i}}</p>
    {% endfor %}
  </body>
</html>
{% endblock %}
