{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - SportHub{% else %}Welcome to SportHub{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block navbar %}


<nav class = 'navbar navbar-default' style="background-color:darkseagreen; margin-bottom: 0; padding: 0 5% 0 5%; height: 65px; ">      
        <div class="navbar-header">
            <a class ="navbar-brand" href="{{ url_for('index') }}" style="padding-top: 15px;"><h4><b>SportHub</b></h4></a>
            <button type="button" style= "margin-top: 20px;"class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false"  aria-label="Toggle navigation">
                <span class="sr-only" >Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
        <div class="collapse navbar-collapse " id="navbar-1"  style="border-top: none; background: darkseagreen; height: 63px !important; z-index: 3;">
            <ul class = "nav navbar-nav navbar-right">  
                <li  style="height: 63px !important;"><a href="{{ url_for('league') }}"><h4><b>League Page</b></h4></a><br/></li>
                <li  style="height: 63px !important;"><a href="{{ url_for('team') }}"><h4><b>Team Page</b></h4></a><br/></li>
                <li  style="height: 63px !important;"><a href="{{ url_for('player') }}"><h4><b>Player Page</b></h4></a><br/></li>
                <li  style="height: 63px !important;"><a href="{{ url_for('about') }}"><h4><b>About Page</b></h4></a><br/></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
{% endblock %}   
