{%extends 'base.html'%}

{% block content %}

<body>
    <div class = "container-fluid" style="padding: 0; ">
        <div class="img-responsive" style="background-image: url('https://i.imgur.com/WyZagTR.jpg');
                                            background-repeat: no-repeat;
                                            background-position: bottom center;
                                            height: 1200px;
                                            width: 100%;
                                            position: absolute;
                                            ">
            <div class="jumbotron jumbotron-fluid" style=" opacity: 0.75; width: 25%; margin-left: 43%; margin-top: 300px; padding: 5px" >
                <div class="container" >
                    {% if league_data == None and team_data == None and player_data == None %}
                      <h2 class="display-4">Welcome to Soccerdb.me!</h2>
                      <p class="lead">
                          On this website you can quickly find useful information for any of your sport needs!
                      </p>
                    {% else %}
                      <h2 class="display-4">Search Results:</h2>
                      <br>
                      {% if league_data == [] and team_data == [] and player_data == []%}
                        <p class="bold">  No Search Results Found</p>
                      {% endif %}
                    {% endif %}
                </div>
        {% if league_data != None %}
            {% for i in league_data %}
                <p class="bold"><a href="{{url_for('league', league_id=i[0])}}">  {{i[1]}} League Page</a></p>
            {% endfor %}
        {% elif team_data != None %}
            {% for i in team_data %}
                <p class="bold"><a href="{{url_for('team', team_id=i[0])}}">  {{i[1]}} Team Page</a></p>
            {% endfor %}
        {% elif player_data != None %}
            {% for i in player_data %}
                <p class="bold"><a href="{{url_for('player', player_id=i[0])}}">  {{i[1]}} Player Page</a></p>
            {% endfor %}
        {% endif %}
            </div>
            <!--
            <div class="justify-content-center search row" style="width:33.33%; float:left; margin-left: 43%; ">
                <div class="input mb-3 input-group" style ="margin-top:20px">
                    <input placeholder="Search" type="text" class="form-control" style="width:200px">
                    <button type="button" class="btn btn-primary">></button>
                </div>
            </div>-->
            <div class="justify-content-center search row" style="width:33.33%; float:left; margin-left: 43%; ">
              <form class="form-inline md-form mr-auto mb-4" action="{{url_for('index')}}" method='POST'>
                <input class="form-control mr-sm-2" style="width:410px !important;" type="text" name="search_value" placeholder="Search for Players, Teams, or Leagues" aria-label="Search">
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
              </form>
            </div>

        </div>
    </div>
</body>

{% endblock %}
