{%extends 'base.html'%}

{% block content %}
<head>
  <meta charset = 'utf-8'>
</head>
{% if team_list ==None %}
<div class="contaner-fluid">
    <div class="table-responsive-sm" style="padding: 0 7%; padding-top: 10px;">
      <table id="league_table" class="table table-bordered table-hover">
          <thead class="thead thead-light thead-hover">
            <tr>
              <th style="z-index: -1;">League</th>
              {% for table_headers in column_list%}
              <th style="z-index: -1;">{{table_headers[0]|upper}}{{table_headers[1:]|replace("_"," ")}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for e in league_data %}
            <tr>
              <td><a href="{{url_for('league',league_id = e[0])}}">{{e[1]}}</a></td>
              {% for i in range(e|length)%}
              {% if i == 2 or i == 4 %}
                   <td><img style="width:50px;height:50px;" src={{e[i]}}></td>
              {% else %}
                  <td>{{e[i]}}</td>
              {% endif%}
             {% endfor %}
            {% endfor %}
          <tfoot>
            <tr>
              <th>Player</th>
              {% for table_headers in column_list%}
              <th>{{table_headers[0]|upper}}{{table_headers[1:]|replace("_"," ")}}</th>
              {% endfor %}
            </tr>
          </tfoot>
      <table>
      </div>
</div>
{% else %}
 <div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">{{league_data[0][1]}}</h1>

        <ul class="list-group list-group-flush">
        {% for i in range(1,column_list|length) %}
          <!-- Images -->
            {% if i == 2 or i == 4 %}
            <li class="list-group-item"><b>{{column_list[i][0]|upper}}{{column_list[i][1:]|replace("_"," ")}}: </b><img style="width:50px;height:50px; text-decoration: none;" src={{league_data[0][i]}}></li>

          <!-- All other info -->
            {% else %}
            <li class="list-group-item"><b>{{column_list[i][0]|upper}}{{column_list[i][1:]|replace("_"," ")}}: </b>{{league_data[0][i]}}</li>
            {% endif %}

        {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Display teams in card style-->
    <div class="container-fluid">
      <div class="container px-auto" >
        <h2 class="display-4 ">Teams in this League</h2><br>
        <div class="row px-auto" >
            {% for a in team_list %}
              <div class="col-sm-4">
                <div class="card">
                  <img class="card-img-top px-auto" style="height: 100px; width: 100px;" src={{a[2]}} alt="Team logo image">
                  <div class="card-body">
                    <h3 class="text-left"><b><a href="{{url_for('team', team_id = a[0])}}" class="card-link" >{{a[1]}}</a></b></h3>
                    <br>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-outline-success bt-lg">
          <h4><a href="{{url_for('league', league_id=None)}}">Go To League Page</a></h4>
        </button>
      </div>
    </div>
</div>

{% endif %}
  {% endblock %}
  {% block scripts %}
  {{super()}}
  <script>
    $(document).ready(function () {
      $('#league_table').DataTable();
    });
  </script>
  {% endblock %}
