{%extends 'base.html'%}

{% block content %}
<head>
  <meta charset = 'utf-8'>
</head>
{% if league == None %}
<div class="contaner-fluid">
<div class="table-responsive-sm" style="padding: 0 7%; padding-top: 10px;">
    <table id="player_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="z-index: -1;">Player</th>
                {% for table_headers in column_list%}
                {% if table_headers == 'player_league_id' %}
                <th style="z-index: -1;">Player League</th>
                {% elif table_headers == 'player_team_id' %}
                <th style="z-index: -1;">Player Team</th>
                {% else %}
                <th style="z-index: -1;">{{table_headers[0]|upper}}{{table_headers[1:]|replace("_"," ")}}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>

            {% for k in range(player_data|length)%}
            <tr>
                <td><a href="{{url_for('player', player_id=player_data[k][0])}}">{{player_data[k][1]}}</a></td>
                {% for a in range(player_data[k]|length)%}
                {% if a == 7 %}
                <td><a href="{{url_for('league', league_id = player_data_raw[k][7])}}">{{player_data[k][a]}}</a></td>
                {% elif a == 8 %}
                <td><a href="{{url_for('team', team_id = player_data_raw[k][8])}}">{{player_data[k][a]}}</a></td>
                {% else %}
                <td>{{player_data[k][a]}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
                <tr>
                        <th>Player</th>
                        {% for table_headers in column_list%}
                        {% if table_headers == 'player_league_id' %}
                        <th>Player League</th>
                        {% elif table_headers == 'player_team_id' %}
                        <th>Player Team</th>
                        {% else %}
                        <th>{{table_headers[0]|upper}}{{table_headers[1:]|replace("_"," ")}}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
        </tfoot>
    </table>
</div>
</div>
{% else %}
<div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{player_data[0][1]}}</h1>
        <ul class="list-group list-group-flush">
        {% for i in range(column_list|length) if not column_list[i] == 'player_id'  %}
            {% if column_list[i] == 'player_league_id' %}
            <li class="list-group-item"><b>Player league: </b><a href="{{url_for('league', league_id = player_data_raw[0][7])}}">{{league}}</a></li>
            {% elif column_list[i] == 'player_team_id' %}
            <li class="list-group-item"><b>Player team: </b><a href="{{url_for('team', team_id = player_data_raw[0][8])}}">{{team}}</a></li>
            {% else %}
            <li class="list-group-item"><b>{{column_list[i][0]|upper}}{{column_list[i][1:]|replace("_"," ")}}: </b>{{player_data[0][i]}}</li>
            {% endif %}
        {% endfor %}
        </ul>

        <button type="button" class="btn btn-outline-success bt-lg">
          <h4><a href="{{url_for('league', league_id=player_data_raw[0][7])}}">Go To {{player_data[0][1]}}'s League Page</a></h4>
        </button>

        <button type="button" class="btn btn-outline-success bt-lg">
          <h4><a href="{{url_for('team', team_id=player_data_raw[0][8])}}">Go To {{player_data[0][1]}}'s Team Page</a></h4>
        </button>
      </div>
    </div>
</div>


{% endif %}
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(function () {
        $('#player_table').DataTable();
    });
</script>
{% endblock %}
