{%extends 'base.html'%}

{% block content %}
<head>
  <meta charset = 'utf-8'>
</head>
{% if player_list == None %}
<!-- display team data fields for all teams -->
<div class="contaner-fluid">
<div class="table-responsive-sm" style="padding: 0 7%; padding-top: 10px;">
    <table id="team_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="z-index: -1;">Team</th>
                {% for table_header in column_list%}
                {% if table_header == 'team_league_id' %}
                <th style="z-index: -1;">Team League</th>
                {% else %}
                <th style="z-index: -1;">{{table_header[0]|upper}}{{table_header[1:]|replace("_"," ")}}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for k in range(team_data|length)%}
            <tr>
                <td><a href="{{url_for('team',  team_id=team_data[k][0])}}">{{team_data[k][1]}}</a></td>
                <!-- probably more efficient to slice, but i'm tired :(-->
                {% for i in range(team_data[k]|length)%}
                {% if i == 2 %}
                <!--attach team specific link to the team name data field -->
                <td><img style="width:50px;height:50px;" src={{team_data[k][i]}}></td>
                {% elif i == 7 %}
                <!--attach league page link to the team league id data field-->
                <td><a href="{{url_for('league', league_id = team_data_raw[k][7])}}">{{team_data[k][i]}}</a></td>
                {% else %}
                <td>{{team_data[k][i]}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th>Team</th>
              {% for table_headers in column_list%}
              {% if table_headers == 'team_league_id' %}
              <th>Team League</th>
              {% else %}
              <th>{{table_headers[0]|upper}}{{table_headers[1:]|replace("_"," ")}}</th>
              {% endif %}
              {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>
</div>
{% else %}
<!-- display a specific teams data -->
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <!-- display team attributes -->
      <h1 class="display-2">{{team_data[0][1]}}</h1>
      <ul class="list-group list-group-flush">
          {% for i in range(1,column_list|length) if not i == 8 %}
          {% if column_list[i] == 'team_league_id' %}
          <li class="list-group-item"><b>Team League: </b><a href="{{url_for('league', league_id = team_data[0][i])}}">{{league[0]}}</a></li>
          
          {% elif i ==2 %}
          <li class="list-group-item"><b>{{column_list[i][0]|upper}}{{column_list[i][1:]|replace("_"," ")}}: </b><img style="width:50px;height:50px;" src={{team_data[0][i]}}></li>
          
          {% else %}
          <li class="list-group-item"><b>{{column_list[i][0]|upper}}{{column_list[i][1:]|replace("_"," ")}}: </b>{{team_data[0][i]}}</li>
          {% endif %}
          {% endfor %}
      </ul>

      <!-- then display players on team-->
   
      <h1 class="display-4">Players on this Team</h1>
      <!--<ul style="columns: 10;-webkit-columns: 10;-moz-columns: 10;">-->
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Player Name</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0,player_list|length) %}
          
            <tr>
                  <td><b><a href="{{url_for('player', player_id = player_list[i][0])}}">{{player_list[i][1]}}</a></b></td>
                
            {% if i % 4 == 0 %}
              </tr>
            {% endif %} 
          {% endfor %}
        </tbody>
      </table>

      <button type="button" class="btn btn-outline-success bt-lg"></button>
        <h4><a href="{{url_for('league', league_id=team_data_raw[0][7])}}">Go To {{team_data[0][1]}}'s League Page</a></h4>
      </button>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(function () {
        $('#team_table').DataTable();
    });
</script>
{% endblock %}
